body, td {
    font-family: Verdana, Tahoma, Arial;
    font-size: 13px;
    color: black;
}

a, a:visited, a:hover {
    color: black;
}

a.jsnavi, a.jsnavi:visited, .jsnavi {
    font-family: Verdana, Arial;
    font-size: 11px;
    color: #6060ff;
    font-weight: bold;
    text-decoration: none;
}

.tool_tip {
    position: absolute;
    visibility: hidden;
    border: #FFFFFF 1px solid;
    padding: 3px 3px 3px 3px;
    background-color: #FCFCD3;
}

.jsnavi:hover {
    font-family: Verdana, Arial;
    font-size: 11px;
    color: blue;
    font-weight: bold;
    text-decoration: none;
}

small {
    font-size: 11px;
    color: #000000;
}

.input {
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 10pt;
    color: black;
    height: auto;
    width: auto;
    border: #98C00B;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

.input_button {
    font-family: Verdana, Arial, Helvetica, sans-serif, Tahoma;
    font-size: 10px;
    background-color: #2E2E34;
    color: #FFFFFF;
    height: auto;
    width: auto;
    border: #000000;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px
}

h3, .cap {
    font-weight: bold;
    font-size: 16px;
}

a.nick, a.nick:visited {
    text-decoration: none;
}

a.nick:hover {
    color: #6060ff;
    text-decoration: none;
}

.hs {
    background-color: #F7D3D3;
}

.hu {
    background-color: #BDD6A9;
}

.ha {
    background-color: #FFB9A1;
}

.topic {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

/* ==================== BB коды */

/* различие bbcodes и bbcodes_poll исключительно в длине кнопки */
/* класс bbcodes используем в списке персональных сообщений (pm.tpl)  и по умолчанию в модуле редактора сообщений*/

.bbcodes {
    background-color: #ffffff;
    border: 1px solid #1434B0;
    color: #ffffff;
    font-size: 11px; /* ! */
    font-family: tahoma; /* ! */
    background-image: url(/web/20110601213821im_/http://team-chat.ru/designes/images/dlet_bttn_bbcodes.gif);
    background-repeat: repeat-x;
    /*  width: 120px;  */
    height: 20px;
    font-weight: bold;
}

.editor textarea {
    color: #000000; /* ! */
    font-size: 11px; /* ! */
    font-family: tahoma; /* ! */
    background-image: url(/web/20110601213821im_/http://team-chat.ru/designes/images/dlet_field_o.gif);
    background-repeat: repeat-x;
    background-color: #ffffff;
}

.editor_button {
    float: left;
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.editor_buttoncl {
    float: left;
    cursor: pointer;
    padding-left: 1px;
    padding-right: 1px;
    border-left: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
}

.editbclose {
    float: right;
    cursor: pointer;
}

.editor_button select {
    font-family: tahoma;
    font-size: 11px;
}

.editor_button img {
    margin: 0;
    padding: 0;
}

.editbclose img {
    margin: 0;
    padding: 0;
}

.editor_button_brk img {
    margin: 0;
    padding: 0;
}

.bbcodes_poll {
    background-color: #ffffff;
    border: 1px solid #1434B0;
    color: #ffffff;
    font-size: 11px; /* ! */
    font-family: tahoma; /* ! */
    background-image: url(/web/20110601213821im_/http://team-chat.ru/designes/images/dlet_bttn_bbcodes.gif);
    background-repeat: repeat-x;
    width: 100px;
    height: 20px;
    font-weight: bold;
}

.marriedcell {
    font: 8pt Arial, Helvetica, sans-serif;
    padding: 1px;
    color: #000000;
    background: #F8F9F1;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
    height: auto;
    width: auto;
}

.marriedtable {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}

a.marriedsexf, a.marriedsexf:visited, a.marriedsexf:hover {
    text-decoration: none;
    color: #FF0000;
    font-weight: bold;
}

a.marriedsexm, a.marriedsexm:visited, a.marriedsexm:hover {
    text-decoration: none;
    color: #0000FF;
    font-weight: bold;
}

a.marriedsexn, a.marriedsexn:visited, a.marriedsexn:hover {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.marriedtableheader {
    font: 10pt Arial, Helvetica, sans-serif;
    padding: 1px;
    color: #000000;
    background: #E0E4C0;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}